<div id = homepage-container >
	<h1>radical nosh</h1>
	<h2>mouthfeel 101</h2>
	<div id = "snacklanta-link" class = "landing-page-link-box" >
		<%= link_to 'Snacklanta', controller: 'restaurants' %>
	</div>

	<div id = "notatl-link" class = "landing-page-link-box" >
		<%= link_to 'Not ATL', controller: 'otp_restaurants' %>
	</div>

	<div id = "recipes-link" class = "landing-page-link-box" >
		<%= link_to "table d'hote" %>
	</div>
</div>



