<h2>Listing all restaurants</h2>

<%= link_to 'New restaurant', new_restaurant_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.title %></td>
      <td><%= restaurant.text %></td>
    </tr>
  <% end %>
</table>