// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: #e81c59;
	letter-spacing: .15em;
	// font-family: 'Roboto Slab', serif;
	font-family: 'Bangers', cursive;
	font-size: 70px;
	text-shadow: #8cbaff -5px 4px;
}

h2 {
	color: #b5b5b5;
	font-family: 'IBM Plex Serif', serif;
}