// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: #e00092;
	font-family: 'Roboto Slab', serif;
	font-size: 70px;
	text-shadow: #0066ff -2px 4px;
}

h2 {
	color: #b5b5b5;
	font-family: 'IBM Plex Serif', serif;
}