// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: #e81c59;
	letter-spacing: .15em;
	// font-family: 'Roboto Slab', serif;
	font-family: 'Bangers', cursive;
	font-size: 90px;
	text-shadow: #00FF0C -5px 4px;
	margin-bottom: 0;
	text-align: center;
}

h2 {
	color: #6700B7;
	font-family: 'Coming Soon', cursive;
}

a {
	font-family: 'granite-modern';
	color: #616161;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#homepage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#snacklanta-link {
	align-self: flex-start;
}

#recipes-link {
	align-self: flex-end;
}

.landing-page-link-box {
	margin: 40px 0 40px 0;
}